<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="etravel"
             deploymentSecret="dwvdcptk8x5x9s9p5lupcnzgbb6w433sfisywzjxi"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
